body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
  }

.header, .hero-container{
  background-color: #1f2937; 
}


.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.hero-container button {
  display: block;
  text-align: center;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
  
}
  
ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  
  
}



 .information-container, .quote-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 50px;  
}

.hero-container{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 50px; 
  
}

.hero-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;
}
  .hero-img {
    flex-shrink: 0;
  }


/* Information Section */

.information-container{
  gap: 36px;

}

.text-center {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-container {
  background-color: #E5E7EB;
  padding: 100px;
  
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.call-to-action {
  background-color: #3882F6 ;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
}

.call-to-action-item{
  flex: 1;
}

.call-to-action-text{
  text-align: left;

}
.call-to-action-text p{
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;;

}
h3 {
  color: #fff;
  font-family: 'Roboto', arial;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.call-to-action-btn button {
  color: #fff;
  font-family: 'Roboto', arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  font-size: 15px;
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #E5E7EB;
  max-width: 100%;
  padding: 20px;
 
}
a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

img {
  width: 200px;
  height: auto;
}

h1{
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.logo{
  font-size: 24px;
  color: #f9faf8;
}

p{
  font-size: 18px;
  color: #E5E7EB;
}

